#content{
	max-width: 1130px;
	margin: 0 auto;
}
#content img{
	height: 160px;
}
.style1,.style2{
	width: 1130px;
	height: 160px;
	margin: 0 auto;
	border-bottom: 1px solid gainsboro;
	font-size: 0;
	cursor: pointer;
}
/*图片定位*/

.leftImg{
	float: left;
	position: relative;
}
.leftImg2{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.rightText{
	display: inline-block;
	width: 333px;
	font-size: 15px;
	margin-left: 10px;
	margin-top: 20px;
}
/*中间颜色*/
.middle{
	width: 20px;
	height: 160px;
	background: gray;
	float: left;
}

/*第二行*/
.rightImg{
	float: right;
	position: relative;
	margin-right: 200px;
}
.leftText{
	display: inline-block;
	width: 333px;
	font-size: 15px;
	margin-right: 10px;
	margin-top: 20px;
	text-align: right;
}
.middle2{
	width: 20px;
	height: 160px;
	background: gray;
	float: right;
}

@media only screen and (max-width: 640px) {
		.style1{
			width: 100%;
			height: 320px;
		}
			.leftImg{
				width: 100%;
				float: left;
				position: relative;
			}
			.leftImg2{
				position: absolute;
				left: 0;
				top: 0;
				opacity: 0;
			}
		.rightText{
			text-align: center;
			width: 100%;
			height: 160px;
			font-size: 15px;
		}
		.rightText p{
			padding: 0 10px;
			text-align: left;
		}
			.middle{
		display: none;
	}
	/*第二行*/
	.style2{
		width: 100%;
		height: 320px;
		text-align: center;
	}
		.rightImg{
			width: 100%;
		float: right;
		position: relative;
		margin-right: 0;
	}
	.leftText{
		width: 100%;
		height: 160px;
		text-align: center;
		font-size: 15px;
		
	}
	.leftText p{
		width: 100%;
		text-align: left;
		padding: 0 10px;
	}
	.middle2{
		display: none;
	}
}











